
<div class="map-cards">
  <div class="container justify-content-center">
    <%= simple_form_for :filter, url: grandparents_path, method: :get do |f| %>
      <%= f.input :skill, collection: Grandparent.all.pluck(:skill) %>
      <%= f.submit %>
    <% end %>


    <div class="grandparents-cards-container">
        <% @grandparents.each do |grandparent| %>
          <%= link_to grandparent_path(grandparent), class: "text-decoration-none" do %>
          <div class="card m-2">
          <%if grandparent.user.photo.key == nil %>
            <%= image_tag "https://res.cloudinary.com/dpt8iwr4k/image/upload/v1748533518/blank-profile-picture_xdu3re.webp", alt: "profile photo" %>
          <% else %>
              <%= cl_image_tag grandparent.user.photo.key, class: "card-photo", alt: "grandparent photo" %>
          <% end %>
            <div class="card-info">
              <h5 class="card-title"><%= grandparent.user.first_name %> <%= grandparent.user.last_name %></h5>
            </div>
            <div class="card-info">
              <div>
                <p>Skill: <%= grandparent.skill %></p>
              </div>
              <p>Price: £<%= grandparent.price %>/hr</p>
            </div>
          </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
