
<div class="grandparent-container">
  <div class="image-layout">
    <%= image_tag("elderly1.jpg", class: "big-img") %>
  </div>

  <div class="grandparent-details">
    <h1><u><%= @grandparent.user.first_name %> <%= @grandparent.user.last_name %></u></h1>
    <p>Skill: <%= @grandparent.skill %></p>
    <p>Price per hour: £<%= @grandparent.price %></p>
    <p>Years of experience: <%= @grandparent.experience %></p>
    <h4>Description:</h3>
    <p><%= @grandparent.description %></p>
    <br>
    <%= link_to "View #{@grandparent.user.first_name}'s bookings", grandparent_bookings_path(@grandparent), class: "button" %>
    <%= link_to "Book #{@grandparent.user.first_name}", new_grandparent_booking_path(@grandparent), class: "button"  %>
    <br>
  </div>
<hr>
<%= link_to "Back to list of grandparents", grandparents_path %>
</div>
